body{
    background-image: url('halo33.jpg');
    background-position: center;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    margin-top: 30%;

    color: white;
    font-size: 20px;
    font-family: Copperplate Gothic;
}